<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
	<mapper namespace="com.sales.erp.salary.dao.SalaryMapper">
		
		<select id="selectAMember" resultType="com.sales.erp.member.vo.MemberVO" parameterType="com.sales.erp.salary.vo.TempVO">
			SELECT EMPNO, AUTH, TEAM FROM SMEMBER WHERE EMPNO=#{datevalue}
		</select>
		<select id="selectOrders" resultType="com.sales.erp.order.vo.OrderJoinVO" parameterType="com.sales.erp.salary.vo.TempVO">
			SELECT S.ID AS ID, S.EMPNO AS EMPNO, S.REGDATE AS REGDATE,
			M.NAME AS NAME, M.TEAM AS TEAM, M.AUTH AS AUTH,
			S.PROCODE AS PROCODE, P.PRONAME AS PRONAME, S.PROAMOUNT AS PROAMOUNT,
			((P.SELLPRICE-P.ORIGINPRICE)*S.PROAMOUNT) AS PROFIT,
			S.CUSTOMER AS CUSTOMER, S.ADDRESS AS ADDRESS, S.CHECKS AS CHECKS,
			S.DELETED AS DELETED
			FROM ORDERS S, 
			(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) M,
			(SELECT PROCODE, PRONAME, PROAMOUNT, ORIGINPRICE, SELLPRICE FROM PRODUCT) P
			WHERE S.EMPNO=M.EMPNO AND S.PROCODE=P.PROCODE AND DELETED=0 AND CHECKS=1
			${datevalue} ORDER BY S.REGDATE DESC
		</select>
	
		<select id="tempTeam" resultType="com.sales.erp.member.vo.MemberVO" parameterType="com.sales.erp.salary.vo.TempVO">
			SELECT S.* FROM SMEMBER S, SMEMBER M WHERE S.EMPNO=M.EMPNO AND S.TEAM!='관리팀' ${datevalue} ORDER BY S.TEAM, S.AUTH DESC
		</select>
		
		<select id="selectTeam" resultType="com.sales.erp.order.vo.TeamVO">
			SELECT TEAM FROM SMEMBER WHERE TEAM!='관리팀' GROUP BY TEAM ORDER BY TEAM
		</select>
		
		<select id="teamMember" parameterType="com.sales.erp.order.vo.TeamVO" resultType="com.sales.erp.member.vo.MemberVO">
			SELECT EMPNO, NAME, AUTH FROM SMEMBER WHERE TEAM=#{team} ORDER BY AUTH DESC
		</select>
	
		<select id="adminSalary" parameterType="com.sales.erp.salary.vo.TempVO" resultType="com.sales.erp.salary.vo.SalaryJoinVO">
			SELECT S.EMPNO AS EMPNO, M.NAME AS NAME, M.TEAM AS TEAM, M.AUTH AS AUTH,
			S.SALARYDATE AS SALARYDATE, S.SALARY AS SALARY,
			S.ALLOWANCE AS ALLOWANCE, S.MANAGER AS MANAGER,
			S.TAX1 AS TAX1, S.TAX2 AS TAX2, S.REALS AS REALS
			FROM SALARY S, SMEMBER M WHERE S.EMPNO = M.EMPNO
			${datevalue}
			ORDER BY S.SALARYDATE DESC, M.TEAM, M.AUTH DESC
		</select>
		
		<select id="dateObject" resultType="com.sales.erp.salary.vo.SalaryVO">
			SELECT SALARYDATE FROM SALARY GROUP BY SALARYDATE ORDER BY SALARYDATE DESC
		</select>
		
		<select id="team" parameterType="com.sales.erp.salary.vo.VOforSQL" resultType="com.sales.erp.order.vo.OrderJoinVO">
			<![CDATA[
			SELECT * FROM
			(SELECT O.ID AS ID, O.EMPNO AS EMPNO, O.REGDATE AS REGDATE,
			S.NAME AS NAME, S.TEAM AS TEAM, S.AUTH AS AUTH,
			O.PROCODE AS PROCODE, P.PRONAME AS PRONAME, O.PROAMOUNT AS PROAMOUNT,
			((P.SELLPRICE-P.ORIGINPRICE)*O.PROAMOUNT) AS PROFIT,
			((P.SELLPRICE-P.ORIGINPRICE)*O.PROAMOUNT)*0.1 AS MANAGER,
			O.CUSTOMER AS CUSTOMER, O.ADDRESS AS ADDRESS, O.CHECKS AS CHECKS,
			O.DELETED AS DELETED FROM ORDERS O, 
			(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) S,
			(SELECT PROCODE, PRONAME, PROAMOUNT, ORIGINPRICE, SELLPRICE FROM PRODUCT) P
			WHERE O.EMPNO=S.EMPNO AND O.PROCODE=P.PROCODE AND CHECKS=1
			AND DELETED=0 AND S.TEAM=#{team} AND S.AUTH!=#{auth}
			AND O.REGDATE>TO_DATE(#{startdate}, 'YYYYMMDDHH24MISS')
			AND O.REGDATE<TO_DATE(#{enddate}, 'YYYYMMDDHH24MISS'))
			]]>
		</select>
	
	
		<select id="selectMember" parameterType="com.sales.erp.salary.vo.TempVO" resultType="com.sales.erp.member.vo.MemberVO">
			SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER WHERE EMPNO=#{datevalue}
		</select>
		<select id="salaryList" parameterType="com.sales.erp.salary.vo.TempVO" resultType="com.sales.erp.salary.vo.SalaryVO">
			SELECT * FROM SALARY WHERE EMPNO=#{datevalue} ORDER BY SALARYDATE DESC
		</select>
		
		<insert id="insertSalary" parameterType="com.sales.erp.salary.vo.SalaryVO">
			INSERT INTO SALARY (EMPNO, SALARYDATE, SALARY, ALLOWANCE, MANAGER, TAX1, TAX2, REALS)
			VALUES(#{empno}, TO_DATE(#{salarydate}, 'YYYYMMDDHH24MISS'),
			#{salary}, #{allowance}, #{manager}, #{tax1}, #{tax2}, #{reals})
		</insert>
		
		<select id="profitOfManager" parameterType="com.sales.erp.salary.vo.VOforSQL" resultType="java.lang.String">
			<![CDATA[
			SELECT SUM(MANAGER) FROM
			(SELECT O.ID AS ID, O.EMPNO AS EMPNO, O.REGDATE AS REGDATE,
			S.NAME AS NAME, S.TEAM AS TEAM, S.AUTH AS AUTH,
			O.PROCODE AS PROCODE, P.PRONAME AS PRONAME, O.PROAMOUNT AS PROAMOUNT,
			((P.SELLPRICE-P.ORIGINPRICE)*O.PROAMOUNT) AS PROFIT,
			((P.SELLPRICE-P.ORIGINPRICE)*O.PROAMOUNT)*0.1 AS MANAGER,
			O.CUSTOMER AS CUSTOMER, O.ADDRESS AS ADDRESS, O.CHECKS AS CHECKS,
			O.DELETED AS DELETED FROM ORDERS O, 
			(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) S,
			(SELECT PROCODE, PRONAME, PROAMOUNT, ORIGINPRICE, SELLPRICE FROM PRODUCT) P
			WHERE O.EMPNO=S.EMPNO AND O.PROCODE=P.PROCODE AND CHECKS=1
			AND DELETED=0 AND S.TEAM=#{team} AND S.AUTH!=#{auth}
			AND O.REGDATE>TO_DATE(#{startdate}, 'YYYYMMDDHH24MISS')
			AND O.REGDATE<TO_DATE(#{enddate}, 'YYYYMMDDHH24MISS'))
			]]>
		</select>
		
		<select id="profitOfEmpl" parameterType="com.sales.erp.salary.vo.VOforSQL" resultType="java.lang.String">
		<![CDATA[
			SELECT SUM(PROFIT) FROM
			(SELECT O.ID AS ID, O.EMPNO AS EMPNO, O.REGDATE AS REGDATE,
			S.NAME AS NAME, S.TEAM AS TEAM, S.AUTH AS AUTH,
			O.PROCODE AS PROCODE, P.PRONAME AS PRONAME, O.PROAMOUNT AS PROAMOUNT,
			((P.SELLPRICE-P.ORIGINPRICE)*O.PROAMOUNT) AS PROFIT,
			O.CUSTOMER AS CUSTOMER, O.ADDRESS AS ADDRESS, O.CHECKS AS CHECKS,
			O.DELETED AS DELETED FROM ORDERS O, 
			(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) S,
			(SELECT PROCODE, PRONAME, PROAMOUNT, ORIGINPRICE, SELLPRICE FROM PRODUCT) P
			WHERE O.EMPNO=S.EMPNO AND O.PROCODE=P.PROCODE AND CHECKS=1
			AND DELETED=0 AND O.EMPNO=#{empno}
			AND O.REGDATE>TO_DATE(#{startdate}, 'YYYYMMDDHH24MISS')
			AND O.REGDATE<TO_DATE(#{enddate}, 'YYYYMMDDHH24MISS'))
			]]>
			</select>
	
		<select id="allMemberExceptAdmin" resultType="com.sales.erp.member.vo.MemberVO">
			SELECT * FROM SMEMBER WHERE TEAM!='관리팀'
		</select>
		
		<select id="selectMonthlyPerformance" parameterType="com.sales.erp.salary.vo.VOforSQL" resultType="com.sales.erp.order.vo.OrderJoinVO">
			<![CDATA[
			SELECT O.ID AS ID, O.EMPNO AS EMPNO, O.REGDATE AS REGDATE,
			S.NAME AS NAME, S.TEAM AS TEAM, S.AUTH AS AUTH,
			O.PROCODE AS PROCODE, P.PRONAME AS PRONAME, O.PROAMOUNT AS PROAMOUNT,
			((P.SELLPRICE-P.ORIGINPRICE)*O.PROAMOUNT) AS PROFIT,
			(P.SELLPRICE*O.PROAMOUNT) AS SALES,
			O.CUSTOMER AS CUSTOMER, O.ADDRESS AS ADDRESS, O.CHECKS AS CHECKS,
			O.DELETED AS DELETED
			FROM ORDERS O, 
			(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) S,
			(SELECT PROCODE, PRONAME, PROAMOUNT, ORIGINPRICE, SELLPRICE FROM PRODUCT) P
			WHERE O.EMPNO=S.EMPNO AND O.PROCODE=P.PROCODE AND CHECKS=1
			AND DELETED=0 AND O.EMPNO=#{empno}
			AND O.REGDATE>=TO_DATE(#{startdate}, 'YYYYMMDDHH24MISS')
			AND O.REGDATE<=TO_DATE(#{enddate}, 'YYYYMMDDHH24MISS')
			]]>
		</select>
		
		<select id="profitSum" parameterType="com.sales.erp.salary.vo.VOforSQL" resultType="java.lang.String">
			<![CDATA[
			SELECT SUM((P.SELLPRICE-P.ORIGINPRICE)*O.PROAMOUNT) AS PROFITSUM
			FROM ORDERS O, 
			(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) S,
			(SELECT PROCODE, PRONAME, PROAMOUNT, ORIGINPRICE, SELLPRICE FROM PRODUCT) P
			WHERE O.EMPNO=S.EMPNO AND O.PROCODE=P.PROCODE AND CHECKS=1
			AND DELETED=0 AND O.EMPNO=#{empno}
			AND O.REGDATE>=TO_DATE(#{startdate}, 'YYYYMMDDHH24MISS')
			AND O.REGDATE<=TO_DATE(#{enddate}, 'YYYYMMDDHH24MISS')
			GROUP BY O.EMPNO
			]]>
		</select>
	</mapper>