<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sales.erp.note.dao.NoteMapper">

	<update id="restoreOne" parameterType="java.lang.Integer">
		UPDATE NOTEDB SET DELETED=0 WHERE NOTENUM = #{noteNum}
	</update>

	<update id="deleteOne" parameterType="java.lang.Integer">
		UPDATE NOTEDB SET DELETED=1 WHERE NOTENUM = #{noteNum}
	</update>
	
	<select id="selectReceive" parameterType="java.lang.String" resultType="com.sales.erp.note.vo.NoteVO">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM R, NOTENUM, SENDDATE,
		SENDER, SNAME, RECEIVER, RNAME, TITLE, CONTENT, CHECKS, DELETED FROM
		(SELECT N.NOTENUM AS NOTENUM, N.SENDDATE AS SENDDATE,
		N.SENDER AS SENDER, M.NAME AS SNAME, N.RECEIVER AS RECEIVER,
		L.NAME AS RNAME, N.TITLE AS TITLE, N.CONTENT AS CONTENT,
		N.CHECKS AS CHECKS, N.DELETED AS DELETED FROM NOTEDB N,
		(SELECT * FROM SMEMBER) M, (SELECT * FROM SMEMBER) L
		WHERE N.SENDER = M.EMPNO AND N.RECEIVER = L.EMPNO AND RECEIVER=#{empno}
		ORDER BY SENDDATE DESC) WHERE DELETED=0)
		WHERE R>=1 AND R<=10
		]]>
	</select>
	
	<select id="selectSend" parameterType="java.lang.String" resultType="com.sales.erp.note.vo.NoteVO">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM R, NOTENUM, SENDDATE,
		SENDER, SNAME, RECEIVER, RNAME, TITLE, CONTENT, CHECKS, DELETED FROM
		(SELECT N.NOTENUM AS NOTENUM, N.SENDDATE AS SENDDATE,
		N.SENDER AS SENDER, M.NAME AS SNAME, N.RECEIVER AS RECEIVER,
		L.NAME AS RNAME, N.TITLE AS TITLE, N.CONTENT AS CONTENT,
		N.CHECKS AS CHECKS, N.DELETED AS DELETED FROM NOTEDB N,
		(SELECT * FROM SMEMBER) M, (SELECT * FROM SMEMBER) L
		WHERE N.SENDER = M.EMPNO AND N.RECEIVER = L.EMPNO AND SENDER=#{empno}
		ORDER BY SENDDATE DESC) WHERE DELETED=0)
		WHERE R>=1 AND R<=10
		]]>
	</select>
	
	<select id="viewNote" parameterType="java.lang.Integer" resultType="com.sales.erp.note.vo.NoteVO">
		SELECT * FROM NOTEDB WHERE NOTENUM = #{noteNum}
	</select>
	
	<select id="countReceiveAll" parameterType="com.sales.erp.note.vo.NoteSearchVO" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM (SELECT ROWNUM R, NOTENUM, SENDDATE, SENDER, RECEIVER, TITLE, CONTENT, CHECKS, DELETED FROM NOTEDB WHERE RECEIVER=#{empno} ORDER BY SENDDATE) WHERE ${field} LIKE #{keyword} AND DELETED=0 ORDER BY R DESC
	</select>
	
	<select id="countSendAll" parameterType="com.sales.erp.note.vo.NoteSearchVO" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM (SELECT ROWNUM R, NOTENUM, SENDDATE, SENDER, RECEIVER, TITLE, CONTENT, CHECKS, DELETED FROM NOTEDB WHERE SENDER=#{empno} ORDER BY SENDDATE) WHERE ${field} LIKE #{keyword} AND DELETED=0 ORDER BY R DESC
	</select>
	
	<select id="selectReceiveAll" parameterType="com.sales.erp.note.vo.NoteSearchVO" resultType="com.sales.erp.note.vo.NoteVO">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM R, NOTENUM, SENDDATE,
		SENDER, SNAME, RECEIVER, RNAME, TITLE, CONTENT, CHECKS, DELETED
		FROM (SELECT N.NOTENUM AS NOTENUM, N.SENDDATE AS SENDDATE,
		N.SENDER AS SENDER, M.NAME AS SNAME, N.RECEIVER AS RECEIVER,
		L.NAME AS RNAME, N.TITLE AS TITLE, N.CONTENT AS CONTENT,
		N.CHECKS AS CHECKS, N.DELETED AS DELETED FROM NOTEDB N,
		(SELECT * FROM SMEMBER) M, (SELECT * FROM SMEMBER) L
		WHERE N.SENDER = M.EMPNO AND N.RECEIVER = L.EMPNO AND RECEIVER=#{empno}
		ORDER BY SENDDATE DESC) WHERE ${field} LIKE #{keyword}
		AND DELETED=0 ORDER BY R)
		WHERE R>=#{start} AND R<=#{end}
		]]>
	</select>
	
	<select id="selectSendAll" parameterType="com.sales.erp.note.vo.NoteSearchVO" resultType="com.sales.erp.note.vo.NoteVO">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM R, NOTENUM, SENDDATE,
		SENDER, SNAME, RECEIVER, RNAME, TITLE, CONTENT, CHECKS, DELETED
		FROM (SELECT N.NOTENUM AS NOTENUM, N.SENDDATE AS SENDDATE,
		N.SENDER AS SENDER, M.NAME AS SNAME, N.RECEIVER AS RECEIVER,
		L.NAME AS RNAME, N.TITLE AS TITLE, N.CONTENT AS CONTENT,
		N.CHECKS AS CHECKS, N.DELETED AS DELETED FROM NOTEDB N,
		(SELECT * FROM SMEMBER) M, (SELECT * FROM SMEMBER) L
		WHERE N.SENDER = M.EMPNO AND N.RECEIVER = L.EMPNO AND SENDER=#{empno}
		ORDER BY SENDDATE DESC) WHERE ${field} LIKE #{keyword}
		AND DELETED=0 ORDER BY R)
		WHERE R>=#{start} AND R<=#{end}
		]]>
	</select>

	<update id="checkNote" parameterType="java.lang.Integer">
		UPDATE NOTEDB SET CHECKS=1 WHERE NOTENUM = #{noteNum}
	</update>
	
	<select id="receiverCheck" parameterType="java.lang.String" resultType="com.sales.erp.member.vo.MemberVO">
		SELECT EMPNO, NAME, AUTH, TEAM FROM SMEMBER WHERE EMPNO!=#{empno} AND AUTH!='ROLE_EE' ORDER BY TEAM, AUTH
	</select>	
	
	<select id="getNameTeamAuth" parameterType="java.lang.String" resultType="com.sales.erp.member.vo.MemberVO">
		SELECT EMPNO, NAME, AUTH, TEAM FROM SMEMBER WHERE EMPNO=#{empno}
	</select>
	
	<insert id="writePro" parameterType="com.sales.erp.note.vo.NoteVO">
		INSERT INTO NOTEDB (NOTENUM, SENDDATE, SENDER, RECEIVER, TITLE, CONTENT, CHECKS, DELETED)
		VALUES(NOTESEQ.NEXTVAL, SYSDATE, #{sender}, #{receiver}, #{title}, #{content}, 0, 0)
	</insert>
	
	<select id="adminSelectCount" parameterType="com.sales.erp.note.vo.NoteSearchVO" resultType="java.lang.Integer">
		<![CDATA[
		SELECT COUNT(*) FROM (SELECT ROWNUM C, D.* FROM (
		SELECT * FROM
		(SELECT N.NOTENUM AS NOTENUM, N.SENDDATE AS SENDDATE,
		N.SENDER AS SENDER, S.NAME AS SNAME, S.TEAM AS STEAM,
		S.AUTH AS SAUTH, N.RECEIVER AS RECEIVER, R.NAME AS RNAME,
		R.TEAM AS RTEAM, R.AUTH AS RAUTH, N.TITLE AS TITLE,
		N.CONTENT AS CONTENT, N.CHECKS AS CHECKS,
		N.DELETED AS DELETED FROM NOTEDB N,
		(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) S,
		(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) R
		WHERE N.SENDER=S.EMPNO AND N.RECEIVER=R.EMPNO
		AND DELETED=1 ORDER BY SENDDATE ASC)) D
		WHERE ${field} LIKE #{keyword} ORDER BY C DESC)]]>
	</select>
	
	<select id="adminSelectAll" parameterType="com.sales.erp.note.vo.NoteSearchVO" resultType="com.sales.erp.note.vo.JoinVO">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM C, D.* FROM (
		SELECT * FROM
		(SELECT N.NOTENUM AS NOTENUM, N.SENDDATE AS SENDDATE,
		N.SENDER AS SENDER, S.NAME AS SNAME, S.TEAM AS STEAM,
		S.AUTH AS SAUTH, N.RECEIVER AS RECEIVER, R.NAME AS RNAME,
		R.TEAM AS RTEAM, R.AUTH AS RAUTH, N.TITLE AS TITLE,
		N.CONTENT AS CONTENT, N.CHECKS AS CHECKS,
		N.DELETED AS DELETED FROM NOTEDB N,
		(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) S,
		(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) R
		WHERE N.SENDER=S.EMPNO AND N.RECEIVER=R.EMPNO
		AND DELETED=1 ORDER BY SENDDATE ASC)) D
		WHERE ${field} LIKE #{keyword} ORDER BY C DESC) WHERE C>=#{start} AND C<=#{end}]]>
	</select>
	
</mapper>
