<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
     
<mapper namespace="com.sales.erp.schedule.dao.ScheduleMapper">
	<select id="select" parameterType="java.lang.String" resultType="com.sales.erp.schedule.vo.ScheduleVO">
	  		SELECT * FROM SCHEDULE WHERE EMPNO = #{empno} ORDER BY REGDATE DESC
	</select>
	<select id="selectOne" parameterType="com.sales.erp.schedule.vo.ScheduleVO" resultType="com.sales.erp.schedule.vo.ScheduleVO">
	  		SELECT * FROM SCHEDULE WHERE EMPNO = #{empno} and YEAR = #{year} and MONTH = #{month} and DAY = #{day} ORDER BY REGDATE DESC
	</select>
	<delete id="delete" parameterType="com.sales.erp.schedule.vo.ScheduleVO">
	 		DELETE FROM SCHEDULE WHERE EMPNO= #{empno} and YEAR = #{year} and MONTH = #{month} and DAY = #{day} and CONTENTS= #{contents} 
	</delete>
	<insert id="insert" parameterType="com.sales.erp.schedule.vo.ScheduleVO">
     		
			INSERT INTO SCHEDULE(NUM,EMPNO,TITLE,CONTENTS,YEAR,MONTH,DAY,REGDATE) 
			VALUES (CALREG.nextval,#{empno},#{title},#{contents},#{year},#{month},#{day},SYSDATE)
	</insert>
	<update id="update" parameterType="com.sales.erp.schedule.vo.ScheduleVO">
			UPDATE SCHEDULE SET CONTENTS=#{contents} WHERE EMPNO=#{empno}    
	</update>
	<select id="count" parameterType="com.sales.erp.schedule.vo.ScheduleVO" resultType="java.lang.Integer">
		select count(*) from schedule where  EMPNO like #{empno} and YEAR like #{year} and MONTH like #{month} and DAY like #{day}
	</select>
</mapper>