<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sales.erp.noteDAO.NoteMapper">
	<select id="selectReceive" parameterType="java.lang.String" resultType="com.sales.erp.noteVO.NoteVO">
		SELECT * FROM NOTEDB WHERE RECEIVER = #{empno} AND CHECKS = 0
	</select>
	
	<select id="selectSend" parameterType="java.lang.String" resultType="com.sales.erp.noteVO.NoteVO">
		SELECT * FROM NOTEDB WHERE SENDER = #{empno} AND CHECKS = 0
	</select>
	
	<select id="viewNote" parameterType="java.lang.Integer" resultType="com.sales.erp.noteVO.NoteVO">
		SELECT * FROM NOTEDB WHERE NOTENUM = #{noteNum}
	</select>
	
	<select id="countReceiveAll" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM NOTEDB WHERE RECEIVER = #{empno}
	</select>
	
	<select id="selectReceiveAll" parameterType="com.sales.erp.noteVO.NoteVO" resultType="com.sales.erp.noteVO.NoteVO">
		SELECT * FROM (SELECT ROWNUM R, NOTENUM, SENDDATE, SENDER, RECEIVER, TITLE, CONTENT, CHECKS FROM NOTEDB WHERE RECEIVER='${empno}') WHERE ${field} LIKE '%${keyword}%' AND R<![CDATA[>=]]>${start} AND R<![CDATA[<=]]>${end} ORDER BY R DESC
	</select>
	
	<update id="checkNote" parameterType="java.lang.Integer">
		UPDATE NOTEDB SET CHECKS=1 WHERE NOTENUM = #{noteNum}
	</update>
	
	
	<!-- 
    <insert id="insertMember" parameterType="com.sales.erp.smember.SMemberVO" >
        INSERT INTO SMEMBER (EMPNO, PWD, NAME, GENDER, BIRTH, JOIN, ADDRESS, PHONE, EMAIL, AUTH, PORTRAIT, ACCOUNT, TEAM)
        VALUES(to_char(numregister.nextval), #{pwd}, #{name}, '남자', null, null, null, #{phone},	null,	#{auth},	null, #{account},	#{team})
    </insert>
    
    <select id="selectSMember" resultType="com.sales.erp.smember.SMemberVO">
		SELECT * FROM SMEMBER WHERE EMPNO=#{empno}
	</select> -->
</mapper>
