<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.sales.erp.freeboard.dao.FreeboardMapper">
	<!-- 글 가져오기 -->
	<select id="getFreeboardList" parameterType="com.sales.erp.freeboard.vo.FreeboardSearch" resultType="com.sales.erp.freeboard.vo.FreeboardVO">
		<!-- freeboard.vo 패키지에 있는 FreeboardSearch 클래스 참고 -->
		select * from (select rownum r, d.* from (select * from freeboard where ${field} like #{word} order by regDate desc) d) where r <![CDATA[>=]]> #{start} and r <![CDATA[<=]]> #{end} order by r asc
		<!-- rownum r, d.* ??? -->
	</select>
	
	<!-- 작성한 글 수 -->
	<select id="getFreeboardCount" parameterType="com.sales.erp.freeboard.vo.FreeboardSearch" resultType="java.lang.Integer">
		select count(*) from freeboard where ${field} like #{word}
	</select>
	
	<!-- 글 쓰기 -->
	<select id="insertFreeboard" parameterType="com.sales.erp.freeboard.vo.FreeboardVO">
		insert into freeboard(num, name, title, content, regdate, parent, sort, tab)
		values(to_char(freeboard_calreg.nextval), #{name}, #{title}, #{content}, sysdate, to_char(freeboard_calreg.nextval), 0, 0)
	</select>
	
	<!-- 글 하나 가져오기 -->
	<select id="getFreeboard" parameterType="java.lang.String" resultType="com.sales.erp.freeboard.vo.FreeboardVO">
		select * from freeboard where num = #{num}
	</select>
	
	<!-- 글 삭제 -->
	<select id="deleteFreeboard" parameterType="java.lang.Integer">
		delete from freeboard where num = #{num}
	</select>
	
	<!-- 글 수정 -->
	<select id="updateFreeboard" parameterType="com.sales.erp.freeboard.vo.FreeboardVO">
		update freeboard set title=#{title}, content=#{content}, regDate=sysdate
		where num = #{num}
	</select>
	
	<select id="getNameTeamAuth" parameterType="java.lang.String" resultType="com.sales.erp.member.vo.MemberVO">
		select * from smember where empno=#{empno}
	</select>
	
	<!-- 댓글 조회 -->
	<select id="replyList" parameterType="java.lang.String" resultType="com.sales.erp.freeboard.vo.ReplyVO">
		select * from fReply where num=#{num} order by regDate desc
	</select>

	<!-- 댓글 입력 -->
	<select id="insertReply" parameterType="com.sales.erp.freeboard.vo.ReplyVO">
		insert into fReply(seq, empno, num, name, reply, regDate)
		values(to_char(fReply_numreg.nextval), #{empno}, #{num}, #{reply}, sysdate)
	</select>
	
	<select id="replyListForUpdate" parameterType="com.sales.erp.freeboard.vo.ReplyForUpdateVO" resultType="com.sales.erp.freeboard.vo.ReplyVO">
		select * from fReply where num=#{num} and seq=#{seq}
	</select>
	
	<!-- 댓글 수정 -->
	<select id="updateReply" parameterType="com.sales.erp.freeboard.vo.ReplyForUpdateVO">
		update fReply set reply=#{reply} where num=#{num} and seq=#{seq}
	</select>
	
	<!-- 댓글 삭제 -->
	<select id="deleteReply" parameterType="com.sales.erp.freeboard.vo.ReplyForUpdateVO">
		delete from fReply where num=#{num} and seq=#{seq}
	</select>
</mapper>