<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sales.erp.transact.dao.TransactMapper">

	<select id="selectList" parameterType="com.sales.erp.transact.vo.TransactSearchVO"
		resultType="com.sales.erp.transact.vo.TransactVO">
		SELECT * FROM TRANSACT
		<where>
			<if test="category != null">
				CATEGORY = #{category}
			</if>
			<if test="team != null">
				AND TEAM = #{team}
			</if>
			<if test="procode != null">
				AND PROCODE = #{procode}
			</if>
		</where>
		ORDER BY ID DESC
	</select>

	<select id="get_procode" resultType="java.lang.String">
		SELECT PROCODE FROM PRODUCT
		ORDER BY PROCODE
	</select>

	<select id="get_team" resultType="java.lang.String">
		SELECT TEAM FROM SMEMBER WHERE
		TEAM LIKE '영업%' GROUP BY TEAM ORDER BY TEAM
	</select>

</mapper>
