<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sales.erp.transact.dao.TransactMapper">

	<select id="selectList" parameterType="com.sales.erp.transact.vo.TransactSearchVO"
		resultType="com.sales.erp.transact.vo.TransactVO">
		SELECT * FROM TRANSACT
		<where>
			<if test="category != null">
				CATEGORY = #{category}
			</if>
			<if test="team != null">
				AND TEAM = #{team}
			</if>
			<if test="procode != null">
				AND PROCODE = #{procode}
			</if>
			<if test="start_date !=null and start_date != '' ">
				<if test="end_date !=null and end_date != '' ">AND TO_CHAR(TRANSDATE, 'YYYY-MM-DD') BETWEEN
					#{start_date} AND
					#{end_date}
				</if>
			</if>
		</where>
		ORDER BY ID DESC
	</select>

	<select id="get_procode" resultType="java.lang.String">
		SELECT PROCODE FROM PRODUCT
		ORDER BY PROCODE
	</select>

	<select id="get_team" resultType="java.lang.String">
		SELECT TEAM FROM SMEMBER GROUP BY TEAM ORDER BY TEAM
	</select>
		
	<select id="getRequestList" resultType="com.sales.erp.member.vo.OrderRequestListJoinVO">
		SELECT ONUM, MAX(REGDATE)
		AS REGDATE, COUNT(*) AS CNT, MAX(EMPNO) AS EMPNO,
		MAX(PROCODE) AS
		PROCODE FROM OREQUEST
		WHERE CHECKS=1 GROUP BY ONUM ORDER BY ONUM DESC
	</select>
	
	<update id="RequestApprove" parameterType="java.lang.String">
		UPDATE OREQUEST SET CHECKS = 2 WHERE ONUM=#{onum}
	</update>
	
	<select id="GetTransactList" parameterType="java.lang.String" resultType="com.sales.erp.member.vo.OrderRequestVO">
		SELECT * from OREQUEST where ONUM=#{onum}
	</select>

	<insert id="AddTransactList" parameterType="com.sales.erp.member.vo.OrderRequestVO">
		INSERT INTO TRANSACT (ID, EMPNO, PROCODE, PROAMOUNT, TEAM, CATEGORY, PRICE,
		ASSETS, TRANSDATE , DELETED)
		VALUES(TO_CHAR(TRANSSEQ.NEXTVAL), #{empno}, #{procode}, #{oamount}, (SELECT TEAM FROM SMEMBER WHERE
		EMPNO=#{empno}), '판매',
		(SELECT SELLPRICE FROM PRODUCT WHERE PROCODE=#{procode}), '0', SYSDATE, 0)
	</insert>

</mapper>
