<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sales.erp.etc.dao.EtcMapper">
	<select id="countUncheckedNote" resultType="java.lang.Integer" parameterType="com.sales.erp.etc.vo.EtcVO">
		SELECT COUNT(*) FROM NOTEDB WHERE CHECKS=0 AND RECEIVER=#{empno}
	</select>
</mapper>