<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
     
  <mapper namespace="com.sales.erp.product.dao.ProductMapper">
  	<select id="selectAll" resultType="com.sales.erp.product.vo.ProductVO" >
  	 	SELECT * FROM PRODUCT
  	</select>
  	<select id="selectOne" parameterType="java.lang.String" resultType="com.sales.erp.product.vo.ProductVO">
  		SELECT * FROM PRODUCT WHERE PROCODE = #{procode}
  	</select>
  	<insert id="insertPro" parameterType="com.sales.erp.product.vo.ProductVO">
  		INSERT INTO PRODUCT (PROCODE,PRONAME,PROAMOUNT,SELLPRICE,ORIGINPRICE,PROIMAGE,PROEXPLA) 
  		VALUES (#{procode},#{proname},#{proamount},#{sellprice},#{originprice},#{proimage},#{proexpla})
  	</insert>
  	<delete id="deletePro" parameterType="java.lang.String">
 		DELETE FROM PRODUCT WHERE PROCODE= #{procode}
  	</delete>
  	<update id="updatePro" parameterType="com.sales.erp.product.vo.ProductVO">
  		UPDATE PRODUCT SET PRONAME=#{proname},PROAMOUNT=#{proamount},
  		SELLPRICE=#{sellprice},ORIGINPRICE=#{originprice},PROEXPLA=#{proexpla}  WHERE PROCODE=#{procode}       
  	</update>
  </mapper>