<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sales.erp.smemberDao.SMemberMapper">
	<select id="selectAllSMember" resultType="com.sales.erp.smember.SMemberVO">
		SELECT * FROM SMEMBER
	</select>
	
	<!-- parameterType 에는 구문에 전달될 파라미터의 패키지 경로를 포함한 전체 클래명이나 별칭이 들어간다  -->
    <insert id="insertMember" parameterType="com.sales.erp.smember.SMemberVO" >
        INSERT INTO SMEMBER (EMPNO, PWD, NAME, GENDER, BIRTH, JOIN, ADDRESS, PHONE, EMAIL, AUTH, PORTRAIT, ACCOUNT, TEAM)
        VALUES(to_char(numregister.nextval), #{pwd}, #{name}, #{gender}, #{birth}, SYSDATE, #{address}, #{phone}, #{email}, #{auth}, #{portrait}, #{account}, #{team})
    </insert>
    
    <select id="selectSMember" resultType="com.sales.erp.smember.SMemberVO">
		SELECT * FROM SMEMBER WHERE EMPNO=#{empno}
	</select>
	
	<select id="Admin_Ok_SMember" resultType="com.sales.erp.smember.SMemberVO">
		SELECT * FROM SMEMBER WHERE AUTH='ROLE_EE'
	</select>
	
	<select id="Admin_Approved_Members" resultType="com.sales.erp.smember.SMemberVO">
		SELECT * FROM SMEMBER WHERE AUTH='ROLE_ADMIN' OR AUTH='ROLE_MANAGER' OR AUTH='ROLE_EMPLOYEE' 
	</select>
	
	<!-- parameterType 에는 구문에 전달될 파라미터의 패키지 경로를 포함한 전체 클래명이나 별칭이 들어간다  -->
    <update id="Update_Approve_Member" parameterType="com.sales.erp.smember.SMemberVO" >    
    	UPDATE SMEMBER SET AUTH='ROLE_EMPLOYEE' WHERE EMPNO=#{empno}        
    </update>
    
   <delete id="Update_Cancel_Member" parameterType="com.sales.erp.smember.SMemberVO" >    
    	DELETE FROM SMEMBER WHERE EMPNO=#{empno}        
    </delete>
    
    <update id="Admin_Update_SMember" parameterType="com.sales.erp.smember.SMemberVO" >    
    	UPDATE SMEMBER SET AUTH=#{auth}, TEAM=#{team} WHERE EMPNO=#{empno}        
    </update>
</mapper>
