<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sales.erp.member.dao.ManagerMapper">
	<select id="getTeamName" resultType="java.lang.String">
		SELECT TEAM FROM SMEMBER WHERE EMPNO = #{empno}
	</select>

	<select id="getRequestList" resultType="com.sales.erp.member.vo.OrderRequestListJoinVO">

		SELECT ONUM, MAX(REGDATE) AS REGDATE, COUNT(*) AS CNT, MAX(EMPNO) AS EMPNO,
		MAX(PROCODE) AS PROCODE FROM ( SELECT * FROM
		(SELECT O.ONUM as onum, O.EMPNO as EMPNO, O.PROCODE as PROCODE, O.OAMOUNT as
		OAMOUNT, O.OCOMMENT as OCOMMENT, O.REGDATE as REGDATE,
		O.CHECKS as CHECKS , O.DELETED as DELETED, S.TEAM as TEAM FROM OREQUEST O,
		SMEMBER S WHERE O.EMPNO = S.EMPNO) WHERE TEAM=#{team})
		WHERE CHECKS=0 GROUP BY ONUM ORDER BY ONUM DESC
	</select>
</mapper>
