<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sales.erp.order.dao.OrderMapper">
	
	<select id="adminSelectOne" parameterType="com.sales.erp.order.vo.TestVO" resultType="com.sales.erp.order.vo.OrderJoinVO">
		SELECT O.ID AS ID, O.EMPNO AS EMPNO, O.REGDATE AS REGDATE,
			S.NAME AS NAME, S.TEAM AS TEAM, S.AUTH AS AUTH,
			O.PROCODE AS PROCODE, P.PRONAME AS PRONAME, O.PROAMOUNT AS PROAMOUNT,
			((P.SELLPRICE-P.ORIGINPRICE)*O.PROAMOUNT) AS PROFIT,
			O.CUSTOMER AS CUSTOMER, O.ADDRESS AS ADDRESS, O.CHECKS AS CHECKS,
			O.DELETED AS DELETED
			FROM ORDERS O, 
			(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) S,
			(SELECT PROCODE, PRONAME, PROAMOUNT, ORIGINPRICE, SELLPRICE FROM PRODUCT) P
			WHERE O.EMPNO=S.EMPNO AND O.PROCODE=P.PROCODE AND CHECKS=0 AND DELETED=0 AND O.ID=#{tests}
	</select> 
	
	<update id="orderCheck" parameterType="com.sales.erp.order.vo.TestVO">
		UPDATE ORDERS SET CHECKS=1 WHERE ID=#{tests} 
	</update>
	
	<insert id="transInsert" parameterType="com.sales.erp.order.vo.OrderJoinVO">
		INSERT INTO TRANSACT (ID, EMPNO, PROCODE, PROAMOUNT, TEAM, CATEGORY, PRICE, TRANSDATE, DELETED)
		VALUES (#{id}, #{empno}, #{procode}, #{proamount}, #{team}, '판매', #{profit}, SYSDATE, 0)
	</insert>
	
	<update id="modifyPro" parameterType="com.sales.erp.order.vo.OrderVO">
		UPDATE ORDERS SET EMPNO=#{empno}, PROCODE=#{procode},
		PROAMOUNT=#{proamount}, CUSTOMER=#{customer}, ADDRESS=#{address}
		WHERE ID=#{id} 
	</update>
	
	<update id="cancleOne" parameterType="com.sales.erp.order.vo.TestVO">
		UPDATE ORDERS SET DELETED=1 WHERE ID=#{tests}
	</update>
	
	<select id="selectOneOrder" parameterType="com.sales.erp.order.vo.TestVO" resultType="com.sales.erp.order.vo.OrderVO">
		SELECT * FROM ORDERS WHERE ID=#{tests}
	</select>
	
	<select id="selectProductAll" resultType="com.sales.erp.product.vo.ProductVO">
		SELECT * FROM PRODUCT
	</select>
	
	<select id="memberForReg" resultType="com.sales.erp.member.vo.MemberVO">
		SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER WHERE TEAM!='관리팀' ORDER BY TEAM, AUTH DESC
	</select>
	
	<select id="selectTeam" resultType="com.sales.erp.order.vo.TeamVO">
		SELECT TEAM FROM SMEMBER WHERE AUTH!='ROLE_ADMIN' GROUP BY TEAM ORDER BY TEAM
	</select>
	
	<select id="teamMember" parameterType="com.sales.erp.order.vo.TeamVO" resultType="com.sales.erp.member.vo.MemberVO">
		SELECT EMPNO, NAME, AUTH FROM SMEMBER WHERE TEAM=#{team} ORDER BY AUTH DESC
	</select>
	
	<select id="adminSelectOrders" parameterType="com.sales.erp.order.vo.TestVO" resultType="com.sales.erp.order.vo.OrderJoinVO">
		SELECT O.ID AS ID, O.EMPNO AS EMPNO, O.REGDATE AS REGDATE,
			S.NAME AS NAME, S.TEAM AS TEAM, S.AUTH AS AUTH,
			O.PROCODE AS PROCODE, P.PRONAME AS PRONAME, O.PROAMOUNT AS PROAMOUNT,
			((P.SELLPRICE-P.ORIGINPRICE)*O.PROAMOUNT) AS PROFIT,
			O.CUSTOMER AS CUSTOMER, O.ADDRESS AS ADDRESS, O.CHECKS AS CHECKS,
			O.DELETED AS DELETED
			FROM ORDERS O, 
			(SELECT EMPNO, NAME, TEAM, AUTH FROM SMEMBER) S,
			(SELECT PROCODE, PRONAME, PROAMOUNT, ORIGINPRICE, SELLPRICE FROM PRODUCT) P
			WHERE O.EMPNO=S.EMPNO AND O.PROCODE=P.PROCODE AND DELETED=0 ${tests}
	</select> 
	
	<insert id="insertOrder" parameterType="com.sales.erp.order.vo.OrderVO">
		INSERT INTO ORDERS (ID, EMPNO, PROCODE, PROAMOUNT, REGDATE, CUSTOMER, ADDRESS, CHECKS, DELETED)
		VALUES (#{empno}||'o'||TO_CHAR(ORDERID.NEXTVAL), #{empno}, #{procode}, #{proamount}, SYSDATE, #{customer}, #{address}, 0, 0)
	</insert>
	
</mapper>